//Media queries
$Desktop: 1024px
$Tablet: 768px
$Mobile: 420px

//Variables    
$colorBlack: #000000

//Desktop
$bigFontSizeDesktop: 35px

//Mobile
$bigFontSizeMobile: 25px

.hero
    font-family: Avenir, Heavy, Helvetica, Arial, sans-serif
    font-size: $bigFontSizeDesktop
    font-weight: bold
    text-align: right
    color: $colorBlack

@media screen and ( min-width: $Mobile ) and ( max-width: $Tablet )
    .hero
        font-size: $bigFontSizeMobile
